@import url('https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Fugaz+One&family=Roboto&family=Jua&family=Texturina:wght@400&family=Luckiest+Guy&family=Orbitron:wght@600&family=Press+Start+2P&family=Stylish&family=Poor+Story&family=Sunflower:wght@300&display=swap');

html, body, #root { 
    width: 100vw; 
    height: 49.74vw; /* height:width ratio = 955/1920  */
    max-width: 201vh; /* 1920/955 */
    max-height: 100vh;
    margin: auto;
    position: absolute;
    top:0; bottom:0; /* vertical center */
    left:0; right:0; /* horizontal center */
}

/* .Transition_inner:after {
    content: "";
    top: -100%;
    left: -50%;
    width: 500%;
    height: 500%;
    position: fixed;
    background-color: #0063B2FF;
    background-image: url('./img/background_2.png');
    opacity: 0.5;
    animation: transition_inner 1s steps(3);
    z-index: 4;
}

@keyframes transition_inner {
    0% { transform:translate(-70%, -20%) }
    50% { transform:translate(0%, 10%) }
    100% { opacity: 0 }
}

.Transition_outer:after {
    content: "";
    top: -100%;
    left: -50%;
    width: 300%;
    height: 300%;
    position: fixed;
    background-color: #0063B2FF;
    background-image: url('./img/background_5.png');
    mix-blend-mode: darken;
    opacity: 0.5;
    animation: transition_outer 1s steps(3);
    z-index: 5;
}

@keyframes transition_outer {
    0% { transform:translate(-20%, -30%) }
    50% { transform:translate(0%, 20%) }
} */

.App {
    width: 100%;
    height: 100%;
    color: #FCF6F5FF;
    background-color: var(--theme-page-background);
    /* background-color: #00539CFF; */
    font-family: "Roboto", sans-serif;
    font-family: 'Black Han Sans', sans-serif;
    font-family: 'Fugaz One', cursive;
    font-family: 'Jua', sans-serif;
    font-family: 'Luckiest Guy', cursive;
    font-family: 'Orbitron', sans-serif;
    font-family: 'Press Start 2P', cursive;
    font-family: 'Stylish', sans-serif;
    font-family: 'Poor Story', cursive;
    font-family: 'Sunflower', sans-serif;
    font-family: 'Texturina', serif;
}

.App:after {
    content: "";
    top: -100%;
    left: -50%;
    width: 300%;
    height: 300%;
    position: fixed;
    background-image: url('./img/background.png');
    opacity: var(--theme-page-opacity);
    animation: universe 30s steps(11) infinite;
    z-index: 2;
}

@keyframes universe {
    0% { transform: translate(0, 0) }
    10% { transform: translate(-5%, 5%) }
    20% { transform: translate(10%, -5%) }
    30% { transform: translate(5%, 10%) }
    40% { transform: translate(-10%, 5%) }
    50% { transform: translate(5%, 10%) }
    60% { transform: translate(10%, -5%) }
    70% { transform: translate(-10%, 0%) }
    80% { transform: translate(5%, -5%) }
    90% { transform: translate(-15%, 10%) }
    100% { transform: translate(5%, 15%) }
}