.hobbystagram_toggle {
    top: 67.8%;
    left: 23.3%;
    width: 7%;
    height: 7%;
    position: absolute;
    z-index: 30;
}

.hobbystagram_toggle input {
    /* input 박스 */
    display: none;
    position: absolute;
}

.hobbystagram_toggle label {
    display: block;
    position: relative;
    width: 90%;
    height: 90%;
    background-image: url('../img/button_bar.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
}

.hobbystagram_toggle label:hover {
    cursor: url('../img/cursor_2.cur'), auto;
}

.hobbystagram_toggle label:after {
    /* 동그라미 */
    content:""; 
    position: absolute;  
    width: 90%;
    height: 90%; 
}

.hobbystagram_toggle input:checked + label { 
    background-image: url('../img/button_bar_right.png');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    margin-left: 11%;
    /* transition: all 0.1s; */
}